/* mobile styles */

body
{
	margin:0px;
	border:0px;
	background-color:#231f20;
        background-image: url("bakg-psy.png");
	background-repeat:repeat;
	text-decoration: none;
	font-style: normal;
	color: #f4f4f4;
	font-family: 'Kreon', sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

img
{
        display:block;
        margin-left:auto;
        margin-right:auto;
        border-radius:20px;
        width: 80%;
        margin-top: 10px;
}

a
{
	color:#fff;
}

div.story1
{
        margin:0 auto;
        background-color:#8E32FF;
        padding-top:5px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:20px;
        margin-top:15px;
        margin-bottom:15px;
        border-radius: 40px;
        height: auto;
        width:80%;
}

pre
{
        line-height:0;
}
code
{
        font-size:10px;
        line-height:0;
        padding-left:5px;
        width:100%;
}

div.imgtext
{
        font-size: 12px;
        margin-top:-5px;
        text-align:center;
}

#navigation
{	
	background-color: #231f20;
	position: fixed;
   	font-weight: bold;
	font-size: 15px;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
	top: 0px;
	height: auto;
	width: 100%;
}

#navigation ul
{
	margin: 0px auto;
	padding: 0px;
        text-align: center;
        width: auto;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	background-color: #231f20;
	padding: 0px;
	padding-bottom: 0px;
	border-radius: 4px;
}

#navigation li a
{
	display: inline;
	list-style: none;
	padding: 4px;
	color:##f4f4f4;
	text-decoration: none;
	border-radius: 4px;
}

#navigation li a:hover { background:#7A2939; }

#container
{
	margin: 0px auto;
	width:100%;
}


#top
{
	padding-top:60px;
}

#titel
{
	font-family: 'Bangers', cursive;
	font-size: 35px;
}

#citat
{
	font-size: 15px;
	padding-bottom: 20px;
}

#one, #two, #three, #four
{
	margin: 0 auto;
	text-align: left;
	width: 90%;
	padding-top: 50px;
	
}


img
{
    max-width: 100%;
    height: auto;
}

#spacer
{
	height:100px;
}

#robin
{
	background-color:#3399FF;
	padding-bottom: 20px;
	margin: 0px auto;
   	font-weight: normal;
	text-align: center;
}

#footer
{
	margin: 0 auto;
	background-color:#231f20;
   	font-weight: normal;
	font-size: 15px;
	padding-top:5px;
	height: auto;
	width: 100%;
}


