/* Webfont: BloggerSans */@font-face {
    font-family: 'BloggerSans';
    src: url('BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body

{
	margin:0px;
	border:0px;
	background-color:#231f20;
	background-image:url('bakg-psy.png');
	background-repeat:repeat;
	font-family: 'BloggerSans',Georgia;
	font-weight: normal;
	font-size: 12pt;
	color: #f4f4f4;
	-webkit-font-smoothing: antialiased;
}

img
{        
	border-radius: 20px;
	display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:10px;
}

h1
{	
	padding: 0px;
	margin: 0px;
        text-align:center;
}

a
{
	color:#fff;
}

a:hover
{
	border-radius: 2px;
	padding: 2px;
}

div.story1
{
	background-color:#009933;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 20px;
	padding-top: 10px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
        padding-right: 30px;
	border-radius:40px;
	padding-bottom: 15px;
}

pre
{
        line-height:0;
}

code
{
        margin:0px;
        padding: 0px;
        font-size:10px;
        line-height:0;
        text-align:left;
        padding-left:20px;
        background-color:#1188FF;
        width:80%;
}



#container
{
	margin: 0px auto;
	height: auto;
        padding-top: 50px;
}

#sprak
{
	top: 240px;
	background-color:#231f20;
	right: 0px;
   	float: right;
   	position: fixed;
    	width: 80px;
    	padding: 4px;
 	border-top-left-radius: 10px;
 	border-bottom-left-radius: 10px; 	
}

#navigation
{	
	background-image:url('bg1.png');
	background-repeat:repeat-x;
	background-position:center 40px;	
	background-color: #231f20;
	position: fixed;
   	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
	top: 0px;
	height:40px;
	width: 100%;
}

#navigation ul
{
	margin: 5px auto;
	padding: 0px;
        text-align: center;
        width: 700px;

}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	background-color: #231f20;
	padding: 0px;
	padding-bottom: 0px;
	border-radius: 10px;
}

#navigation li a
{
	display: inline;
	list-style: none;
	padding: 5px 20px;
	background-color: #231f20;
	color:##f4f4f4;
	text-decoration: none;
	border-radius: 10px;
}

#navigation li a:hover { background:#7A2939; }

#nextbuttoncontainer
{
	margin: 0 auto;
   	float: center;
   	text-align: center;
   	bottom: 50px;
    	width: 100%;
}

#nextbutton
{
	margin: 0 auto;
	background-color:#231f20;
	width: 50px;
	padding: 10px;
	border-radius: 10px;
}

#top
{
	margin: 0 auto;
	text-align: center;
	background-color:#3399FF;
	height: auto;
	width: 100%;
	padding-top:250px;
}

#default
{
	margin: 0 auto;
	width: 460px;
	height: 100%;
	padding: 100 px;
	border-radius: 10 px;
}	

#introtext
{
	height: auto;
}

#citat
{
	font-weight: normal;
	font-size: 12pt;
	text-align: center; 
	width: 950px;
	height: auto;
}

#titel
{
	font-family: 'BloggerSans', Georgia;
	font-size: 75pt;
	text-align: center;
	width: 950px;
	font-weight: 400;
   	font-style: normal;
}

div.imgtext
{
        font-size: 14px;
        margin-top: -10px;
        text-align:center;
}

#downarrow
{
	padding-top: 100px;
}

#titlestoleft
{
	font-family: 'BloggerSans', Georgia;
	margin-top: 0px;
	font-size: 40pt;
	text-align: left;
	font-weight: 400;
   	font-style: normal;
}

#titlestoright
{
	font-family: 'BloggerSans', Georgia;
	margin-top: 0px;
	font-size: 40pt;
	text-align: right;
	font-weight: 400;
   	font-style: normal;
}

#leftcolumn
{
	vertical-align: top;
	display:inline-block;
	padding:30px;
	width: 400px;
	text-align:right;
	height:auto;
	border-radius:5px;
}


#rightcolumn
{
	vertical-align: top;
	display:inline-block;
	padding:30px;
	width: 400px;
	text-align:left;
	height:auto;
    	border-left: 4px #A5D2FF solid;
}

#spacer
{
	height: 300px;
}

#ilovetreesleft
{
	vertical-align: top;
	display:inline-block;
	padding:20px;
	width: 250px;
	text-align:left;
	height:auto;
	background-color:#2C8437;
	border-radius:5px;
}

#ilovetreesright
{
	vertical-align: top;
	display:inline-block;
	padding:20px;
	width: 250px;
	text-align:left;
	height:auto;
	background-color:#2C8437;
	border-radius:5px;
}

#ilovetreesmiddle
{
	vertical-align: top;
	display:inline-block;
	padding:20px;
	width: 250px;
	text-align:left;
	height:auto;
	background-color:#2C8437;
	border-radius:5px;
}



#story1
{
	background-color:#3399FF;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 20px;
	padding-top: 50px;
	text-align: center;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius:10px;
	padding-bottom: 20px;
}

#story2
{
	background-color:#3399FF;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 20px;
	padding-top: 100px;
	text-align: center;
	height: 600px;
	padding: 20px;
	border-radius:10px;
	padding-bottom: 20px;
}

#story3
{
	background-color:#3399FF;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 20px;
	padding-top: 100px;
	text-align: center;
	height: auto;
	padding-bottom: 20px;
}

#story4
{
	background-color:#3399FF;
   	font-weight: normal;
   	font-style: normal; 
	font-size: 20px;
	padding-top: 100px;
	text-align: center;
	height: auto;
	padding-bottom: 20px;
}

#robin
{
	background-color:#3399FF;
	padding-bottom: 100px;
	margin: 0px auto;
   	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

#footer
{
        position: fixed;
	margin: 0px auto;
	background-color:#231f20;
   	font-weight: normal;
	font-size: 15px;
        text-align: center;
	top:0px;
	padding-top:1px;
        padding-bottom:1px;
	height: auto;
	width: 100%;
}
